.hidden {
    visibility: hidden;
}

.login {
    padding: 30px;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #da4453;
    color: white;
    border: none;
}

#inputtext {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px dotted rgba(0,0,0,0.5);
}